.primary {
    display: flex;
    flex-direction: column;
}

.secondary {
    width: 120px;
    height: 30px;
    border: 1px solid #486a8b;
    border-radius: 10px;
    display: flex;
}

.voteBtn {
    cursor: pointer;
    height: 28px;
    width: 35px;
    border: none;
    border-radius: 9px 0 0 9px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-image: url('/assets/icons/general/vote.svg');
    background-size: 18px;
}

.voteBtn:hover {
    transition: all 0.1s;
    transform: scale(1.1);
}
.downvoteBtn:hover {
    transform: rotate(180deg) scale(1.1);
}

.secondary .voteBtn {
    background-size: 14px;
    background-color: #345779;
}

.downvoteBtn {
    transform: rotate(180deg);
}

.votes {
    font-size: 14px;
    height: 28px;
    flex-grow: 1;
    text-align: center;
    line-height: 28px;
    font-family: Roboto-Bold;
}

.secondary .votes {
    border-left: 1px solid #486a8b;
    border-right: 1px solid #486a8b;
}
