.btn {
    cursor: pointer;
    color: #ffffff;
    padding: 8px 12px;
    font-family: Roboto-Bold;
    font-size: 15px;
    line-height: 15px;
    border-radius: 6px;
    outline: none;
    border: none;
}

.primary {
    background: #27599b;
}
.secondary {
    background: #0e2439;
    border: 1px solid #ffffff;
}
.github {
    padding: 8px 20px 8px 45px;
    background: url('/assets/icons/general/github-icon.svg') no-repeat;
    background-position: 20px;
    background-size: 15px;
    background-color: #0e2439;
    border: 1px solid #ffffff;
}
.link {
    border: none;
    background: none;
    text-decoration: underline;
    color: #58a6ff;
    font-family: Roboto;
}
