.tagList {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 8px;
    align-items: center;
}

.tag {
    font-family: Roboto-Thin;
    background: #345779;
    padding: 4px 8px;
    border-radius: 6px;
}

.tag:hover {
    background: #3c6995;
}

.tag a {
    color: inherit;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.tag a:hover {
    text-decoration: none;
}

.highlight {
    color: white;
    background: #4799eb;
}

.showMore {
    cursor: pointer;
    font-size: 14px;
    color: #58a6ff;
    height: 20px;
    font-family: Roboto-Light;
    text-decoration: underline;
}
