.autocompleteInput {
    padding: 7px 30px;
    background: url('/assets/images/search-icon.png') no-repeat;
    background-color: #0e2439;
    background-position: 10px;
    background-size: 14px;
    width: 100%;
}
