.introContainer {
    padding: 80px 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
}

.textContainer {
    vertical-align: top;
    display: inline-block;
    width: 700px;
}

.textHeading {
    font-family: Roboto-Bold;
    font-size: 70px;
    font-weight: normal;
    margin: 0 0 20px 0;
}

.textDescription {
    font-size: 24px;
    margin: 0 0 80px 0;
}

.introImage {
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introImageRef {
    color: #bdbdbd;
    font-size: 13px;
    font-style: italic;
}

@media only screen and (max-width: 900px) {
    .introContainer {
        padding: 60px 0;
        align-content: center;
        justify-content: center;
    }

    .textContainer {
        text-align: center;
        padding: 0 20px;
    }

    .introImage {
        display: none;
    }

    .textHeading {
        font-size: 38px;
    }

    .textDescription {
        font-size: 18px;
        margin: 40px 0;
        line-height: 24px;
    }

    .actionBtns {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 200px;
        align-items: center;
        gap: 20px;
        text-align: center;
    }

    .actionBtns a {
        margin: 0 !important;
    }
}
