.introContainer {
    padding: 160px 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
}

.textContainer {
    vertical-align: top;
    display: inline-block;
    width: 700px;
}

.textHeading {
    font-family: Roboto-Bold;
    font-size: 70px;
    font-weight: normal;
    margin: 0 0 20px 0;
}

.textDescription {
    font-size: 24px;
    margin: 0 0 80px 0;
}

.introImage {
}

@media only screen and (max-width: 900px) {
    .introContainer {
        padding: 100px 0;
        align-content: center;
        justify-content: center;
    }

    .textContainer {
        text-align: center;
    }

    .introImage {
        display: none;
    }
}
