.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 100px;
}

.wrapper h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 18px 0;
}

.wrapper h2,
.wrapper h3,
.wrapper h4 {
    font-size: 1.35em;
    font-weight: 700;
    margin: 1.5em 0 1em;
}

.date {
    display: inline-block;
    margin: 0 0 30px 0;
    font-size: 16px;
}

.wrapper p {
    line-height: 1.8em;
    margin-bottom: 1em;
    font-size: 1.1em;
}

.wrapper ul,
.wrapper ol {
    list-style: square;
    margin-bottom: 1em;
    margin-left: 2em;
}

.wrapper li {
    line-height: 1.8em;
    font-size: 1.1em;
}

.wrapper img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}

.prev {
    margin-top: 20px;
    padding: 20px;
    background: #26415b;
    border-radius: 6px;
    /* wide SVG arrow, aligned to the right */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-arrow-right'%3E%3Cpath d='M5 12h14M12 5l7 7-7 7'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 1.5em;
    text-decoration: none;
    color: #fff;
    border: 1px solid #486a8b;
}

.prev a {
    font-size: 18px;
}
