.text-preview {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    line-height: 20px;
}

.postDate {
    font-size: 0.8rem;
    color: #d7d7d7;
    text-align: right;
    margin: 5px 0 0 0;
}
