.header {
    background: #1f364d;
    width: 100%;
    border-bottom: 1px solid #486a8b;
}

.logoWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    height: 35px;
    width: 175px;
}

.wrapper {
    height: 64px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

/* Menu classes */
.showMenu {
    display: unset !important;
}
.nav {
    flex: 2 calc(100% - 490px);
    display: inline-block;
}

.linkList {
    list-style: none;
    padding: 0;
    margin: 0 0 0 100px;
    display: flex;
}

.listItem {
    margin: 0 30px 0 0;
}

.navLink {
    font-family: Roboto-Bold;
    font-size: 18px;
}

.searchField {
    flex: 1 400px;
}

.hamburger {
    display: none;
    background: none;
    border: none;
}

.hamburgerBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
    width: 22px;
    cursor: pointer;
}

.hamburgerInner {
    height: 3px;
    width: 100%;
    background: #fff;
    transition: all 100ms ease-in-out;
}

/* rotate first and last instance of hamburgerInner and hide the middle one, to form X  */
.showMenu .hamburgerInner:nth-child(1) {
    transition: all 100ms ease-in-out;
    transform: rotate(45deg);
    transform-origin: top left;
    width: 28px;
}
.showMenu .hamburgerInner:nth-child(2) {
    transition: all 100ms ease-in-out;
    transform-origin: center;
    width: 0;
}
.showMenu .hamburgerInner:nth-child(3) {
    transition: all 100ms ease-in-out;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width: 28px;
}

/* End Menu classes */

@media only screen and (max-width: 900px) {
    .wrapper {
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    /* Menu classes */
    .hamburger {
        display: block;
        margin: 0 0 0 20px;
    }

    .nav {
        display: none;
        width: 100%;
    }

    .linkList {
        flex-direction: column;
        gap: 30px;
        margin: 40px 0;
    }

    .searchField {
        display: none;
        width: 100%;
        flex: auto;
        margin: 20px 0;
    }
    /* End Menu classes */
}
