.panelHeader {
    width: 100%;
    border-bottom: 1px solid #486a8b;
    display: flex;
    margin: 0 0 30px 0;
}

.title {
    display: inline-block;
    flex: auto;
}

.actionBtns {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 4px;
}
