.faq {
    width: 100%;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.questionSummary {
    padding: 20px;
    cursor: pointer;
}

.question {
    background-color: #1f364d;
    border-radius: 5px;
    border: 1px solid #486a8b;
    margin-bottom: 20px;
}

.answer {
    margin-bottom: 20px;
    padding: 2px 20px;
}

.faqMoreButton {
    margin-bottom: 40px;
}
