.tagsList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media only screen and (max-width: 900px) {
    .tagsList {
        flex-direction: column;
    }
}
