.affiliateCardWrapper {
    margin: 0 0 30px 0;
    display: flex;
    padding: 0;
}

.info {
    padding: 15px;
    display: flex;
    align-items: stretch;
    gap: 20px;
}

.description {
    margin: 16px 0;
    font-size: 14px;
    line-height: 20px;
    flex: 1 1 0;
}

.logo {
    width: 300px;
    aspect-ratio: 1/1;
    object-fit: contain;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    padding: 10px;
}
