.languageCardWrapper {
    padding: 0;
    margin: 0 0 30px 0;
    display: flex;
}

.votes {
    background-color: #26415b;
    border-radius: 6px 0 0 6px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    /* Fixed width to account for "X% upvoted" text */
    min-width: 95px;
}

.info {
    position: relative;
    padding: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cardHeader {
    display: flex;
    gap: 15px;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.toolName {
    display: flex;
    align-items: center;
}

.description {
    line-height: 20px;
}

.languageLink {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
}

.languageName {
    padding: 0 0 0 15px;
}

.cardFooter {
    display: flex;
}

.shareBtns {
    flex-grow: 1;
}

.originalClass :first-child {
    border-radius: 6px;
}

.wrapper {
    margin-bottom: 20px;
}

.toolHeader {
    display: inline;
    vertical-align: top;
    padding-right: 5px;
}

.maintained {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 14px;
}

.toolLink {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
    gap: 15px;
    color: white;
}

.toolLink:hover {
    text-decoration: none;
}

.toolLogo {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 900px) {
    .cardFooter {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
    }

    .info {
        padding: 15px;
    }

    .languageCardWrapper {
        flex-direction: column-reverse;
    }

    .info {
        padding: 20px;
    }

    .clickOut {
        display: unset;
        border: 1px solid #486a8b;
        border-radius: 10px;
        width: 50px;
    }

    .votes {
        width: 100%;
        border-radius: 0 0 6px 6px;
        align-items: unset;
        padding: 10px;
        flex-direction: row;
        justify-content: space-between;
    }

    .voteWidget {
        height: unset !important;
        width: 100px !important;
        flex-direction: row !important;
    }
}
